.item-cart {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.item-qty {
  width: 25px;
  text-align: center;
  margin: 5px;
}

.item-price {
  text-align: right;
}

.item-subtotal {
  margin-top: 15px;
  text-align: right;
  font-weight: 600;
}

.item-submit {
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.item-close {
  margin-left: 5px;
}

.btn-cart {
  margin-right: 5px;
}
