@import "/src/common/color.scss";
@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

@media (max-width: 800px) {
  * {
    padding: 0;
    margin: 0;
  }
}

a {
  text-decoration: none;
}

body {
  background-color: $primary-color;
}

.home-page {
  position: relative;
  display: block;
}
.btn-order {
  margin-left: 5px;
  font-size: 12px;
  background-color: #ee4d2d;
}
.btn-view {
  margin-right: 5px;
  font-size: 12px;
  margin: 0px 10px;
  background-color: #04aa6d;

  &:hover {
    background-color: #6c757d;
  }
}

// .cart-image,
// .cart-image img {
//   position: fixed;
//   bottom: 20px;
//   right: 20px;
//   z-index: 999;
//   display: none;
//   width: 48px;
//   height: 48px;
//   text-align: center;
//   line-height: 48px;
//   background: rgba(0, 0, 0, 0.1);
// }

// .cart-image {
//   position: fixed;
//   z-index: 999;
//   width: 80vw;
//   height: calc(100vh - calc(((100vw - 24px) * 116) / 351));

//   margin-right: auto;
//   margin-left: auto;

//   display: flex;
//   flex-direction: row-reverse;
//   justify-content: flex-start;
// }
// .user-image img {
//   width: 30px;
//   height: 30px;

//   &:hover {
//     cursor: pointer;
//   }
// }
